@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
:root{
    --fonte-principal: 'Bitter', cursive
}

body{
    background-image: linear-gradient( 91deg,  rgba(169,200,232,1) 18.5%, rgba(103,169,218,1) 81% );
    background-attachment: scroll;
    font-family: var(--fonte-principal);
}

img#logo{
    display: block;
    margin: auto;
}

header, footer{
    text-align: center;
}

header h1{
    color: rgb(69, 69, 163);
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    height: 210px;
    max-width: 900px;
    min-width: 600px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

section.textos ul{
    display: flex;
    flex-direction: column;
    height: 170px;
    max-width: 440px;
    min-width: 250px;
    justify-content: center;
}

.lista{
    display: flex;
    align-items: center;
    gap: 5px;
}

.lista img{
    width: 28px;
    height: 35px;
}

.lista p{
    font-weight: bold;
}

section.formulario{
    height: 170px;
    max-width: 440px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

input, button{
    height: 40px;
    border-radius: 3px;
    color: white;
    font-family: var(--fonte-principal);
}

input{
    outline: none;
    padding-left: 9px;
    padding-right: 9px;
    border: 1px solid rgb(104, 104, 224);
    background-color: rgb(162, 162, 255);
    width: 18em;
}

input::placeholder{
    color: white;
}

input#nome{
    margin-bottom: 3%;
}

input#email{
    margin-bottom: 13%;
}

button{
    border: 3px solid rgb(162, 162, 255);
    background-color: rgb(104, 104, 224);
    width: 19.5em;
    transition: 0.5s;
}

button:hover{
    background-color: rgb(69, 69, 163);
}

footer h2{
    color: rgb(69, 69, 163);
}

footer p{
    font-weight: bold;
    font-size: smaller;
}